extends layout

block content
  .container
    #headtitle
      h1= title
    #menu
      ul(class='nav nav-pills nav-stacked')
        li(class='active')
          a(href='/') Home
        li 
          a(href='/download') Download
        li 
          a(href='/register') Register
        li 
          a(href='/donate') Donate
        li
          a(href='/about') About

    #main
      #video.
        <iframe width="640" height="480" src="http://www.youtube.com/embed/f5H7yI_oldw?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
  
      p <strong>Grymark</strong> is a retro single/multiplayer abstract action game featuring innovative player controls.