doctype 5
html
  head
    title= title
    meta(name='keywords', content='game multiplayer online breakout arkanoid grym programming python')
    meta(name='description', content='Free multiplayer breakout/arkanoid clone online game in python')
    meta(name='author', content='grym')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    script(src='/javascripts/analytics.js')